.jumbotron
{
    background:transparent;
    margin-bottom:0;
    padding-top: 15px;
    padding-bottom: 0;
}
#resume_download
{
    background-color:blue;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
body
{
    margin-left:30px;
}
#toprow
{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
img {
    border-radius: 50%;
  }