.jumbotron
{
    background:transparent;
    margin-bottom:3rem;
    padding-top: 1rem;
    padding-bottom: 0;
}
#resume_download
{
    background-color:blue;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
body
{
    margin-left:30px;
}
#toprow
{
    margin-top: 75px;
    padding-top: 2rem;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
#secondrow
{
    margin-top:20px;
}
#profilepic 
{
    border-radius: 50%;
    transform:rotate(0deg);
}
#targetsign
{
    font-size:10rem;
    margin-top:20px;
}
#targetsign:hover
{
    font-size:10rem;
    margin-top:20px;
    color:cadetblue;
}
#qualcol
{
    text-align: center;
}